@model RealEstateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Nauja NT Įmonė</h1>

<h4>CompanyModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CompanyAddInformation.CompanyName" class="control-label"></label>
                <input asp-for="CompanyAddInformation.CompanyName" class="form-control" />
                <span asp-validation-for="CompanyAddInformation.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddInformation.City" class="control-label"></label>
                <input asp-for="CompanyAddInformation.City" class="form-control" />
                <span asp-validation-for="CompanyAddInformation.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddInformation.Street" class="control-label"></label>
                <input asp-for="CompanyAddInformation.Street" class="form-control" />
                <span asp-validation-for="CompanyAddInformation.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddInformation.HouseFlatNumber" class="control-label"></label>
                <input asp-for="CompanyAddInformation.HouseFlatNumber" class="form-control" />
                <span asp-validation-for="CompanyAddInformation.HouseFlatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                @*<div>
                    @Html.DropDownListFor(x => x.Brokers, new MultiSelectList(Model.Brokers, "Id", "FullName"), new {multiple = "multiple", @class = "form-control"})
                </div>*@
                
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
